.left-margin {
    margin-left: 250px;
    padding: 15px 30px;
}

.home .headline {
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 30px;
}

.home .country-section {
    display: flex;
    flex-wrap: wrap;
}